{% load static %}
<aside>
        <nav class="aside-container">
            <ul>
                <li id="dashboard_page"><a href="/dashboard/"><i class="fa fa-home"></i>Dashboard</a></li>
                <li id="organization_page" class="has-sub">
                    <a href="javascript:void(0);" class="main-link"><i class="fa fa-university"></i>Organization</a>
                    <ul>
                        <!-- <li><a href="organization.html">Organization</a></li> -->
                        <li id="centers_page"><a href="/centers/">Centers</a></li>
                        <li id="divisions_page"><a href="/divisions/">Division</a></li>
                        <li id="departments_page"><a href="/departments/">Department</a></li>
                        <li id="designations_page"><a href="/designations/">Designation</a></li>
                        <li id="employements_page"><a href="/employements/">Employment Type</a></li>
                    </ul>
                </li>
                <li id="classsubject_page" class="has-sub">
                    <a href="javascript:void(0);"><i class="fa fa-university"></i>Classes & Subjects</a>
                    <ul>
                       <li id="mastersubject_page"><a href="/master-subjects/">Master Subject</a></li>
                       <li id="class_page"><a href="/classes/">Class</a></li>
                       <li id="subject_page"><a href="/subjects/">Subjects</a></li>
                       <li id="concept_page"><a href="/concepts/">Concepts</a></li>
                    </ul>
                </li>
                <li id="session_page"><a href="/sessions/"><i class="fa fa-university"></i>Sessions</a></li>
                <li id="programspage" class="has-sub">
                    <a href="javascript:void(0);"><i class="fa fa-university"></i>Programs</a>
                    <ul>
                        <li id="program_page"><a href="/programs/">Programs</a></li>
                        <li id="phase_page"><a href="/phases/">Phases</a></li>
                        <li id="batch_page"><a href="/batches/">Batches</a></li>
                        <li id="lectureplan_page"><a href="/lecture-planner/">Lecture Planner</a></li>
                    </ul>
                </li>
                <li id="faculties_page"><a href="/faculties/"><i class="fa fa-university"></i>Faculty / Coordinator</a></li>
                <li id="students_page"><a href="/students/"><i class="fa fa-graduation-cap"></i>Students</a></li>
            </ul>        
        </nav>
    </aside>